:root {
    --corPrimaria:  #751200; 
    --corSecundaria:  #f1c972ea;
    --corTerceraria: #52281d;
    --corQuatro: #43587e;
    --corCinco: #646863;
    --corSeis:   #f7c57b;
}

body {
    background-color:var(--corSecundaria)
}

header h1 {
    color: var(--corTerceraria);
    text-align: center;
    background-color:var(--corSecundaria) ;
    border-radius: 8px;
    margin: 0%;
}

nav ul li {
    list-style: none;
    padding: 1%;
    display: inline;
    margin: 2%;
    text-decoration: none;
}

nav a{
    list-style: none;
    text-decoration: none;
    color: var(--corSeis);
}

nav ul {
    background-color: var(--corPrimaria);
    margin: 0%;
    padding: 1%;
    display: block;
    border-radius: 8px;
    
}

nav ul li:hover {
    background-color:var(--corQuatro);
    transition: 0.4s;
    border-radius: 8px;
}

.container{
    color: var(--corPrimaria);
    text-align: center;
}

ul hr {
    color: var(--corQuatro);
    border-width: 2px;
}

h3 {
    color:var(--corTerceraria);
    text-align: center;
}

footer p {
    text-align: center;
}